body {
    background-color: #cdcdcd;
    margin: 0;
    padding: 0 0 150px 0;
    font-family: Calibri;
}

nav {
    background-color: #000;
    color: #fff;
    padding: .5rem 2rem;
    font-weight: 600;
}

main h1 {
    text-align: center;
}

main figure {
    padding: 1rem;
    background-color: #b4b4b4;
}

main figure figcaption {
    font-style: italic;
    font-size: 20px;
    text-align: right;
}

.figure-image {
    background-image: url("https://assets.greentechmedia.com/assets/content/cache/made/assets/content/cache/remote/https_assets.greentechmedia.com/content/images/articles/smart-city-itron_721_420_80_s_c1.jpg");
}

.action-item input[type=button] {
    position: relative;
    bottom: 1.2rem;
    width: 100%;
}

.action-item {
    height: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #cdcdcd;
    width: 100%;
    height: 40px;
}

footer p {
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 900px) {
    main figure {
        display: block;
        width: auto;
        margin: 0 0 2rem;
        float: none;
        min-height: 0;
    }
    main figure div {
        float: none;
        display: block;
        text-align: right;
    }
}
