main {
    padding: 1rem 3rem;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
}

.figure-image {
    height: 250px;
    background-size: cover;
}

main figure {
    position: relative;
    display: inline-block;
    width: calc(33% - 2rem);
    margin: 0 .1rem .5rem;
    border-radius: 5px;
    flex-grow: 3;

    z-index: 10;
}

.action-item a {
    z-index: 200;
}

.action-item input[type=button] {
    opacity: .1;
}

main figure div {
    display: block;
    text-align: right;
    bottom: 0;
}

@media screen and (max-width: 900px) {
    main {
        padding: .5rem;
    }
}

