.hidden {
    display: none;
}

body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: #fefefe;
}

button.add-button {
    position: absolute;
    bottom: 35px;
    right: 35px;
    padding: 6px 8px;
    border-radius: 12px;
    border: 2px solid #fefefe;
    color: #fefefe;
    cursor: pointer;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}